// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.client_cards_container{
    margin-left:5vw;
    margin-right:5vh;
}

.client_row_padding{
    margin-bottom:5vh;
    height:10vh;
}

.client_name{
    font-size:1.5rem;
    margin-left:5%;
    margin-right:5%;
}

.index__title{
    color:white;
    text-align:center;
  
  }
  
  .index__heading{
    font-size:5rem;
    font-weight:300;
  }

.client_card{
    height:10vh;
    border-radius:20px;
    background:url(/assets/clients-card-bg.svg);
    background-size:cover;
    color:white;

}


.client_show_button{
    background: Transparent;
    border: none;
    float:right;
    height:10vh;
    width:100%;
    position:absolute;
    top:0;

}

.client_show_button:hover{
    background: Transparent;
}


.indiv__information{
    width:50%;
    margin-left:10%;
    
}

.indiv__left{
    width:100%;
}

.indiv__field{
    color:white;
    font-size:1.5rem;

}

.indiv__type{
    color:#eb4034;
}

.client_icon{
    font-size:3rem;
    margin-right: 5%;
}

.info_wrapper{
    margin-bottom:5vh;
}
