// Place all the styles related to the Excercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_exercise--card{
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 30vw;
    margin-right: 30vw;
  }