// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color:black;
}
.workouts__title{
  width:100%;
  height:7vh;
  color:black;
  text-align:center;
  font-size:5vh;
}
.workout_card_bg{
  background-image:url(/assets/workout-element.svg);
  background-size:cover;
}
.workouts__container{
  padding-left:10%;
  padding-right:10%;
  // background-color:black;
}

.row--workouts{
  height:22vh;
}

.font--white{
  color:white;
}

.workout__card{
  background-color: #eb4034;
  height:20vh;
  width:100%;
  padding:10px;
  border-radius:5px;
  transition-property:color;

  color:white;
  -webkit-transition: all ease 0.8s;
-moz-transition: all ease 0.8s;
transition: all ease 0.8s;
border-style:solid;
border-color:#eb4034;
border-radius:thin;
}

.workout__card:hover{

  background-color:white;
  // color:black;
}


.workout__card--left{
  color:black;
  float:left;
  width:40%;
  font-size:2.0vw;
  text-align:center;
}

.workout__card--right{
  float:right;
  width:60%;
  height:100%;
  background-color:white;
  border-radius:10px;
  padding:10px;
}

.workout__card--right--text{
  color: black;
  font-size:15px;
  height:60%;
}

.workout__card--right:hover{
  background-color:none;
}

.workout__card:hover #workout__card--left{
  display:none;
}

.right__icons{
  width:100%;
  display:table-cell;
  vertical-align:bottom;
  text-align:center;
  font-size:2vw;
  color: black;
}

.workouts__card{
  width:100%;
  height:15vh;
  background-color:black;
  border-radius:10px;
  border-style:solid;
  z-index:1;
}

.workouts__wrap{
  width:100%;
  height:100%;
}
.--noborder{
  position:relative;
  width:100%;
  height:5.7vh;
  border-style:none;
  background-color:rgba(0,0,0,.0);
  font-size:5vh;
  color:#eb4034;

  z-index:10;
}

.workouts__left{
  color:white;
  float:left;
  width:50%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:20px;
}

.workouts__left--text{
  font-size:10vh;
  position: absolute;
  bottom: 0;
  left: 0;
  display: table-cell;
vertical-align: bottom;
}
.workouts__divider{
  float:left;
  height:100%;
  width:10%;
}
.workouts__triangle{

  float:right;
  width: 0;
height: 0;
border-bottom: 14.8vh solid #4e5a65;
border-left: 14.8vh solid transparent;
}
.workouts__right{
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  float:left;
  width:40%;
  height:100%;
  background-color:#4e5a65;
  // border-right-style:inset;
  // border-top-style:inset;
  // border-bottom-style:inset;
  border-color:black;
}

.workouts__icons__row{
  text-align:center;
  height:100%;
  width:3vw;
  float:right;
  font-size:3vh;
  background-color:black;
}

a.icon_link:link {
color: #eb4034;
background-color:transparent;
}

a.icon_link:visited {
color: #eb4034;
}

a.icon_link:hover {
color: #eb4034;
background-color:transparent;
}

.workouts__right__title{
  font-size:20px;
  color:white;

}

.workouts__excercises__card{
  width:50%;
  float:left;
}

.excercise__content{
  color:white;
  font-size:2vh;
}
.excercise__content--title{
  color:white;
  font-size:20px;

}
